{% for article in articles %}
    <div>
        <i class="ion-quote"></i>
        <h4>{{ article.titre }}</h4>
        <p>{{ article.contenu }}</p>
        <div class="user">
            <img src="{{asset("images/item-img1.jpg")}}" alt="Pepole">
            <p><span>{{ article.utilisateur }}</span> CEO-Themefisher</p>
        </div>
    </div>
{% endfor %}
