{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

{# <div class="card" style="width: 75rem;"> #}
<div class="d-flex justify-content-center">
<div class="card" style="width: 75rem;">
<div class="card-body">
<h5 class="card-header">Nouvel article</h5>
    {{ include('article/_form.html.twig') }}
<a href="{{ path('article') }}">back to list</a>
</div>
</div>
</div>




    
{% endblock %}
